

$text-small: 14px;
$text-medium: 16px;
$text-large: 18px;

$spacer-0: 0px;
$spacer-4: 4px;
$spacer-8: 8px;
$spacer-12: 12px;
$spacer-16: 16px;
$spacer-20: 20px;
$spacer-24: 24px;
$spacer-28: 28px;
$spacer-32: 32px;
$spacer-40: 40px;
$spacer-48: 48px;
$spacer-64: 64px;
$spacer-80: 80px;